<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-2">
      &nbsp;
    </div>
    <div  style="
    width: 50px;
    height: 50px;
    background-color: #20a8d8;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color:white">
    1
    </div><!--/.col-->
    <div class="col-md-3">
      <hr>
    </div>
    <div  style="
    width: 50px;
    height: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;">
    2
    </div><!--/.col-->
    <div class="col-md-3" >
      <hr style="color:#000000">
    </div>
      <div  style="
    width: 50px;
    height: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;">
    3
    </div>
    </div><!--/.col-->